<div>
    <div class="container" style="margin-top:30px">
        <form [formGroup]="createForm" (ngSubmit)="create()">
            <div>
                <div>
                    <label>Nome</label>
                    <input style="margin-left:102px"
                         type="'text"
                         formControlName="name"
                     />
                     <div>
                     </div>
                     <div>
                         <input style="margin-top:10px"
                             type="submit"
                             value="Guardar"
                         />
                     </div>
                 </div>
                 <div>
                    <label>Tempo de execução</label>
                    <input style="margin-top:30px; margin-left:6px;"
                         type="'text"
                         formControlName="name"
                     />
                     <div>
                         
                     </div>
                     <div>
                         <input style="margin-top:10px"
                             type="submit"
                             value="Guardar"
                         />
                     </div>
                 </div>
                <div>
                    <label>Nível de Dificuldade</label>
                    <select style="margin-top:30px; margin-left:6px;" formControlName="difficultyLevel">
                            <option *ngFor="let difficultyLevel of difficultyLevels" value="{{ difficultyLevel.difficultyLevel}}">
                             {{ difficultyLevel.difficultyLevel }}
                            </option>
                    </select>
                </div>
                <div>
                    <label>Ingredientes</label>
                    <select style="margin-top:30px; margin-left:62px;" formControlName="ingredients">
                            <option *ngFor="let ingredient of ingredients" value="{{ ingredient.ingredientName }}">
                             {{ ingredient.ingredientName }}
                            </option>
                    </select>
                </div>
                <div>
                    <label>Execução</label>
                    <input
                         style="margin-top:30px; margin-left:82px;"
                         type="'text"
                         formControlName="execution"
                     />
                     <div>
                         
                     </div>
                     <div>
                         <input
                            style="margin-top:10px"    
                            type="submit"
                             value="Guardar"
                         />
                     </div>
                 </div>
                <div>
                    <input 
                        style="margin-top:40px; margin-left:150px"
                        type="submit"
                        value="Criar"
                    />
                </div>
            </div>
        </form>
    </div>
</div>